<!DOCTYPE html>
<html>
<head>
	<title>The Lick</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/home.css">
	<link rel="stylesheet" type="text/css" href="/navbar.css">
	<script src="https://www.youtube.com/iframe_api"></script>
	<script>
		var player; 
		function onYouTubeIframeAPIReady() { 
			player = new YT.Player('licks', { 
				playerVars: { 
					'videoId': 'zGG0QYjdgJQ', 
					'playlist': '{{#video_ids}}{{video_id}},{{/video_ids}}', 
					'color': 'white', 
					'controls': 1, 
					'loop': 1, 
					'showinfo': 0, 
					'autoplay': 1, 
					'rel': 0
				}, 
				events: { 
					'onStateChange': next 
				} 
			});
		}

		function next(event) { 
			if (event.data == YT.PlayerState.CUED) { 
				player.playVideo(); 
			} 
			if (event.data == YT.PlayerState.ENDED) { 
				player.nextVideo(); 
			} 
		}
	</script>
	
</head>
<body>
	<input type="hidden" id="refresh" value="no">
	<div class="navbar">
		<ul>
			<li id="home-link"><strong><a href="/">{{site_name}}</a></strong></li>
			<div style="float:right">
				<li><a href="/report">Report a Sighting <i class="fas fa-search"></i></a></li>
				{{^isModerator}}<li><a href="/login">Moderator Login <i class="fas fa-sign-in-alt"></i></a></li>{{/isModerator}}
				{{#isModerator}}
				<li><a href="/moderator">Moderator Portal <i class="fas fa-tools"></i></a></li>
				<li><a href="/logout">Log Out <i class="fas fa-sign-out-alt"></i></a></li>
				{{/isModerator}}
			</div>
		</ul>
	</div>
	<!-- <div id="licks"></div> -->
	<div class="container">
		<h1>Recent Sightings</h1>
		<table class="lickTable">
			{{#recentLicks}}
			<tr>
				<td>Lick #{{uid}}</td>
				<td><a href="/lick/{{uid}}"><img src="https://img.youtube.com/vi/{{video_id}}/hqdefault.jpg" height="90" width="120"><td></a></td>
				<td><a href="/lick/{{uid}}">{{video_title}}</a></td>
				<td>Reported {{date_reported}}{{#reporter_exists}} by {{reporter_name}}{{/reporter_exists}}</td>
			</tr>
			{{/recentLicks}}
		</table>
	</div>
	</div>
</body>
<script>
	var last_id = 200;
	var end = false;
	$(window).scroll(function() {
	   if($(window).scrollTop() + $(window).height() == $(document).height()) {
	   		if (!end){
	   		$.get( "getMoreLicks/"+last_id, function(response) {
	   			var data = response.data;
	   			var err = response.err; 
	   			if (!err){
	   				if (data !== undefined){
	   					for (var rows = 0; rows < data.length; rows++){
	   						var html = '';
	   						//$( ".lickTable" ).append("<tr>");
	   						var uid = "<td>Lick #" + data[rows].uid + "</td>";
	   						var thumbnail = "<td><a href='/lick/"+data[rows].uid+"'><img src='https://img.youtube.com/vi/"+data[rows].video_id+"/hqdefault.jpg' height='90' width='120'><td></a></td>";
	   						var videoTitle = "<td><a href='/lick/"+data[rows].uid+"'>"+data[rows].video_title+"</a></td>"
	   						var date = "<td> Reported " + data[rows].date_reported + ""
	   						var reporterName = '';
	   						if (data[rows].reporter_name){
	   							reporterName = "by " + data[rows].reporter_name + "";
	   						}
	   						$( ".lickTable" ).append('<tr>' + uid + thumbnail + videoTitle + date +  reporterName + '</td></tr>'); 
	   					
	       					// $( ".lickTable" ).append("<td>"+ data[0].video_title + "</td>" );
	       					//$( ".lickTable" ).append("<td><a href='/lick/"+data[0].uid+"'>"+data[0].video_title+"</a></td></tr>");
	       					//$( ".lickTable" ).append( "</tr>");
	       					//$( ".lickTable" ).append("</tr>");

	  						console.log(data);
	  					

	   					}
	   				
	   					last_id +=data.length;
	   				
	  					} else {
	  					end = true;
	  				}

	  			} else {
	  				//$( ".lickTable" ).append("<h1>ERRRRRRROOORRRR</h1>")
	  			}

			});
	   	}	
	   }
	});
</script>
</html>