<!DOCTYPE html>
<html>
<head>
	<title>The Lick</title>
	<link rel="stylesheet" type="text/css" href="/home.css">
	<link rel="stylesheet" type="text/css" href="/navbar.css">
	<script src="https://www.youtube.com/iframe_api"></script>
	<script>
		var player; 
		function onYouTubeIframeAPIReady() { 
			player = new YT.Player('licks', { 
				playerVars: { 
					'videoId': 'zGG0QYjdgJQ', 
					'playlist': '{{#video_ids}}{{video_id}},{{/video_ids}}', 
					'color': 'white', 
					'controls': 1, 
					'loop': 1, 
					'showinfo': 0, 
					'autoplay': 1, 
					'rel': 0
				}, 
				events: { 
					'onStateChange': next 
				} 
			}); 
		}

		function next(event) { 
			if (event.data == YT.PlayerState.CUED) { 
				player.playVideo(); 
			} 
			if (event.data == YT.PlayerState.ENDED) { 
				player.nextVideo(); 
			} 
		}
	</script>
</head>
<body>
	<div class="navbar">
		<ul>
			<li><a href="/">The Lick</a></li>
			<div style="float:right">
				<li><a href="/report">Report a Sighting</a></li>
			</div>
		</ul>
	</div>

	<!-- <div id="licks"></div> -->
	<div class="container">
		<h2>Recent Sightings</h2>
		<table>
			{{#recentLicks}}
			<tr>
				<td><a href="/lick/{{uid}}"><img src="https://img.youtube.com/vi/{{video_id}}/hqdefault.jpg" height="90" width="120"><td></a></td>
				<td><a href="/lick/{{uid}}">{{video_title}}</a></td>
				<td>Reported {{date_reported}}{{#reporter_exists}} by {{reporter_name}}{{/reporter_exists}}</td>
			</tr>
			{{/recentLicks}}
		</table>
	</div>
</body>
</html>