<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	{{#report}} 
	 	{{#title_exists}}<h3><a href="{{url}}">{{video_title}}</a></h3>{{/title_exists}}
		<iframe width="560" height="315" src="https://youtube.com/embed/{{video_id}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <br>
		<p>The lick occurs at {{lick_start}}</p>
		<p>{{notes}}</p>
		<p>Reported on {{date_reported}}{{#reporter_exists}} by {{reporter_name}}{{/reporter_exists}}</p>
	{{/report}}
</body>
</html>