<!DOCTYPE html>
<html>
<head>
	<title>{{#report.title_exists}}{{report.video_title}} | {{/report.title_exists}}The Lick</title>
	<link rel="stylesheet" type="text/css" href="/navbar.css">
	<script src="https://www.youtube.com/iframe_api"></script>
	<script>
		var player;
		function onYouTubeIframeAPIReady() {
			player = new YT.Player('lick', {
				height: '390',
				width: '640',
				videoId: '{{report.video_id}}',
				events: {
					'onReady': onPlayerReady,
				}
			});
		}

		// The API will call this function when the video player is ready.
		function onPlayerReady(event) {
			event.target.playVideo();
		}
    </script>
</head>
<body>
	<div class="navbar">
		<ul>
			<li><a href="/">The Lick</a></li>
			<div style="float:right">
				<li><a href="/report">Report a Sighting</a></li>
			</div>
		</ul>
	</div>
	<div class="container">
		{{#report}} 
		 	{{#title_exists}}<h3><a href="{{url}}">{{video_title}}</a></h3>{{/title_exists}}
			<!-- <iframe width="560" height="315" src="https://youtube.com/embed/{{video_id}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <br> -->
			<div id="lick"></div>
			<p>The lick occurs at <a href="#" onclick="player.seekTo({{lick_start}});">{{lick_start_string}}</a></p>
			<p>{{notes}}</p>
			<p>Reported on {{date_reported}}{{#reporter_exists}} by {{reporter_name}}{{/reporter_exists}}</p>
		{{/report}}
	</div>
</body>
</html>