<!DOCTYPE html>
<html>
<head>
	<title>Moderator Portal | {{site_name}}</title>

	<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
	<link rel="manifest" href="/favicons/site.webmanifest">
	<link rel="shortcut icon" href="/favicons/favicon.ico?">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-config" content="/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/navbar.css">
	<link rel="stylesheet" type="text/css" href="/moderator.css">
</head>
<body>
	<div class="navbar">
		<ul>
			<li id="home-link"><a href="/">{{site_name}}</a></li>
			<div style="float:right">
				<li><a href="/report">Report a Sighting <i class="fas fa-search"></i></a></li>
				{{^isModerator}}<li><a href="/login">Moderator Login <i class="fas fa-sign-in-alt"></i></a></li>{{/isModerator}}
				{{#isModerator}}
				<li><a href="/moderator">Moderator Portal <i class="fas fa-tools"></i></a></li>
				<li><a href="/logout">Log Out <i class="fas fa-sign-out-alt"></i></a></li>
				{{/isModerator}}
			</div>
		</ul>
	</div>
	<div class="container">
		<h1>Add a New Moderator</h1>
		<form action="/newModerator" method="POST">
			<i class="icon fas fa-user"></i><input name="name" placeholder="Moderator Name" type="text" autocomplete="off"><br>
			<i class="icon fas fa-envelope"></i><input name="email" placeholder="Moderator Email" type="text" autocomplete="off"><br>
			<button id="add-moderator" type="submit">Add New Moderator <i class="fas fa-check-circle"></i></button>
		</form>

		<p><i>(If page reloaded, assume updates went through successfully.)</i></p>
	</div>
</body>
</html>