<!DOCTYPE html>
<html>
<head>
	<title>Make a Reporting | The Lick</title>
</head>
<body>
	<h1>Report a Sighting of the Lick</h1>
	<form action="/report" method="POST">
		<input name="url" type="text" placeholder="YouTube Video URL" autocomplete="off"><br>
		<input name="lick_start" placeholder="Time of Lick Occurrence" autocomplete="off"><br>
		<p>Notes (Optional):</p><textarea name="notes"></textarea><br>
		<input name="reporter_name" type="text" placeholder="Your Name (Optional)" autocomplete="off"><br>
		<button type="submit">Report Lick</button>
	</form>
</body>
</html>