
table {
	margin: auto;
	width: 100%;
	border-collapse: collapse;
}

tr {
	border: solid;
	border-width: 1px 0;
	border-color: #d9d9d9;
}

/* prevent first and last rows from having line above or below */
tr:first-child, tr:last-child {
	border: none;
}

/* background change for hover on question row */
tr:hover {
	cursor: pointer;
	background-color: #f2f2f2;
}

td {
	padding: 15px;
	border-radius: 15px;
}

.img-container {
	text-align: center;
}

.header {
	text-align:left;
	width:100%;
	position:fixed;
	top:0;
	left: 0;
	padding-top: 20px;
	padding-bottom: 15px;
	padding-left:10px;
	padding-right:10px;
	z-index:3;
	background: rgba(100,100,100,0.9);
	color: #f1f1f1;
	height: 55px;
}

video {
	width: 50%    !important;
	height: auto   !important;
}

#ytp-popup{
	height 50%;
}

#licks {
	border:0;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:70%;
	height:50%;
}

/* container for all content */
.container {
	width: 55% !important;
}

.report-meta {
	float: right;
	color: #666666;
	font-size: 14px;
	margin-top: 30px;
	margin-bottom: 0;
}

.video-link {
	font-size: 20px;
}