
@import 'https://fonts.googleapis.com/css?family=Cabin';
@import 'https://fonts.googleapis.com/css?family=Permanent+Marker';

* {
    font-family: 'Cabin', sans-serif;
}

h1 {
    font-family: 'Permanent Marker', sans-serif !important;
    font-size: 37px;
}

html, body {
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 14px;
    background-color: #4d88ff;
    z-index:3;
}

.navbar * {
    user-select: none;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float:left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #6699ff;
}

/* push text titles for each link away from their icons */
.navbar li a i {
	margin-left: 3px;
}

/* defaults for container of all content */
.container {
    width: 60%;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 30px;
    border-radius: 8px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #e6e6e6;
    box-shadow: 0 0 20px #000;
}

#home-link {
    font-size: 17px;
}

a {
    text-decoration: none;
    color: #4d88ff;
}

a:hover {

}